.enter-dimensions-container {
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto 60px;
  grid-gap: 10px;
  padding-bottom: 10px;
}

.running-container {
  padding-top: 5px;
  display: grid;
  grid-gap: 10px;
}
